.footer {
    width: 100%;
    padding: 20px 10px;
    background-color: #3b3b3b;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;   /* Can be changed to 'fixed' if you want it to always be at the bottom of the screen */
    bottom: 0;
    left: 0;
}

.footer a {
    color: #9bc904;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}